<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maples.gem.admin.repository.UserRolePermissionMapper">
  <resultMap id="BaseResultMap" type="org.maples.gem.admin.model.UserRolePermission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
    select `role_id` from tb_permission where `user_id` = ${userId} and `status` = 0;
  </select>
</mapper>